name: Delete old workflow runs

on:
  schedule:
    - cron: 0 23 * * *
  workflow_dispatch:
    inputs:

jobs:
  del_runs:
    runs-on: ubuntu-latest
    steps:
      - name: Delete workflow runs
        uses: Mattraks/delete-workflow-runs@main
        with:
          retain_days: 2
          keep_minimum_runs: 6

